/* Theme switch
.theme-switch {
    display: flex;
    align-items: center;
    margin-top: var(--spacing-sm);
    cursor: pointer;
}

.theme-switch-label {
    margin-left: var(--spacing-sm);
    font-size: 14px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-gray-300);
    border-radius: 20px;
    transition: var(--transition-normal);
}

.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color-white);
    border-radius: var(--border-radius-full);
    transition: var(--transition-normal);
}

input:checked + .slider {
    background-color: var(--color-primary);
}

input:checked + .slider:before {
    transform: translateX(20px);
} */